@import '../../styles/mixins';

.restaurant-picker-card {

  border: 2px solid black;
  margin: 10px auto;
  padding: 20px 0;
  width: 300px;
  text-align: center;

  img {
    display: block;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto 10px auto;

  }
}


