@import '../../styles/mixins';

.restaurant-picker-default-page {
  padding: 0 20px 50px 20px;

  .loading-text {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
  }
}

.restaurant-picker-top {
  text-align: center;
  h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
  }

  input {
    height: 2em;
    margin: 0 auto;
  }

  .query-form button {
    height: 2.4em;
    display: block;
    margin: 0 auto;
  }

  .options {
   text-align: left;
   width: 200px;
   margin: 0 auto;
  }
}

@media screen and (min-width: 700px) {
  .restaurant-picker-top {
    .query-form button {
      display: inline;
    }
  }
    
}