@import '../../styles/mixins';

.restaurant-picker-default-page {
  text-align: center;
  h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 50px;
    text-transform: uppercase;
  }

  input {
    margin-top: 200px;
    height: 2em;
    margin: 0 auto;
  }

  button {
    height: 2.4em;
  }
}
