@import '../../styles/mixins';

.restaurant-picker-footer {
  position: fixed;
  padding: .5rem;
  background-color: #efefef;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: .6em;

  @media screen and (min-width: 750px) {
    font-size: 1em;
    padding: 1rem;
  }
}
