@import '../../styles/mixins';

.restaurant-picker-review-card {
  border-radius: 20px;
  border: 2px solid black;
  height: 350px;
  margin: 20px auto;
  padding: 10px 50px;
  width: 70%;
  color: black;

  img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
}

a {
  text-decoration: none;
}

span {
    display: inline-block !important;
    float: none !important;
}
